@import "_variables.scss";
@import"_productos.scss";
@import"_contacto.scss";
@import"_nosotros.scss";
@import"_preguntas.scss";

*{
    padding: 0;
    margin: 0;}

header{
    @include altoAncho(200px,100%);
    background-image: linear-gradient(to bottom, rgb(117, 34, 34),  rgba(255, 0, 0, 0.685) ) ;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "a1 a2"
                         "a1 a3"  ;
    justify-items: center;
    align-items: center;
        .logoTitulo{ grid-area: a1;
            img{border-radius: 100px;}
                }
        .buscador {
          grid-area: a3;
          input{
            width: 50vw;
            padding: 6px;
            border: none;
            margin-bottom: 10px;
            margin-right: 16px;
            font-size: 20px;}
             }  
       }
    
.nav {background-color: $color-fondo;
    justify-content: center}
    .nav ul{
        display: flex;
        column-gap: 20px;
        justify-content: center;               
}
.nav ul li{
    list-style-type: none;
    font-size: 2vw;}
    
.nav ul li a{
    color: white;
    text-decoration: none; }   
    .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropbtn {
        background-color: $color-fondo;
        color: white;
        padding: 0px;
        font-size: 2vw;
        border: none;
        cursor: pointer;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: $color-fondo;color: black;} 
      .dropdown:hover .dropdown-content {
        display: block;
        background-color: $color-fondo;
        color: white;}
        .dropdown:hover .dropbtn {
            background-color: white;
            color: $color-fondo;
          }       
                 
    header .titulo{
        grid-area: a2;
        margin: 80px 20px 20px 20px;
        height: 80%;
        font-size: 30px;
        font-style: italic;
        color: white;
    }
    header .titulo h1{
        text-align: center;
    }

main{
    @include altoAncho(auto,100%) ;
    background-color: white;
    margin-top: 30px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: stretch;
    .carousel{width: 100%;position: relative;}
       
                }
    .ofertas{background-color: gray;width: 100%;
        .tituloOferta{background-color: $color-fondo;width: 100%;};
    .cardOfertas{display: flex;
    flex-direction: row;
width: 80%;}}
    footer{
        @include altoAncho(200px,100%);
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
        .datosContacto h5{font-size: calc(1rem + .3vw);color: $color-fondo;height: 100%;text-decoration: underline;};
        .iconosContacto{ font-size:calc(1.50rem + .3vw)};
        .iconosContacto a{color: white};
        .productosFooter h5{font-size: calc(1rem + .3vw);color: $color-fondo;height: 100%;text-decoration: underline;}
        .productosFooter p a {color: white;text-decoration: none;}
        .iconosFooter{width: 15%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;}
    }
     
   @media only screen and (max-width:415px){
            *{
                padding: 0;
                margin: 0;}
            
            header{background-image: linear-gradient(to bottom, rgb(117, 34, 34),  rgba(255, 0, 0, 0.685) ) ;
                display: flex;
                flex-direction: column;
                
                height:100px ;
                justify-items: center;
                align-items: center;
                justify-content: flex-end;
            
                }
            header .logoTitulo{ display: none;} 
            header .buscador{display: none;}   
            header .titulo{font-size: 15px;}
            .nav{justify-content: center;}
            .nav ul{display:flex;
                    flex-direction: column;
                    align-items: center;}
            .nav ul li{font-size: 4vw;}
            .filtroRepuestos{display: none;}
            main{
                height: 1400px;
                background-color: rgba(255, 0, 0, 0.685);
                display: flex;
                align-content: center;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
               
            }
        
            main #conteiner{height: 98%;
                width:100%;
                background-color:white;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr ;
                
                grid-template-areas: "a1 a2""a3 a4" "a5 a5" "a6 a6""a7 a8""a9 a10";
                
                justify-items: center;
                align-items: center;                   
                  }
                  #conteiner .card{
                    height: 90%;
                    width: 90%;
                    background-color: rgb(238, 238, 238);
                    display: flex;
                    flex-direction: column;
                    border: 1px;
                    border-style: outset;
                }
                #conteiner .card img{height: 90%;width: 100%;}
                
                h3{font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;}
                p{display: none;}
                
                footer{display: flex;
                        flex-direction: column;
                         height:200px;}
                footer .datosContacto h4{font-size: calc(1rem + .3vw)}
        
                footer .iconosContacto{ font-size:calc(1.50rem + .3vw)}
        
            }
            






